@model IEnumerable<TeaTimeDemo.Models.DTOs.FillInBlankDTO>

@{
    ViewData["Title"] = "填空題列表";
}

<h1>填空題列表</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> 新增填空題
    </a>
    <a asp-action="RecycleBin" class="btn btn-warning">
        <i class="bi bi-trash"></i> 回收筒
    </a>
</p>

<table id="tblFillInBlank" class="table table-bordered table-striped nowrap" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>填空編號</th>
            <th>提示文字</th>
            <th>長度</th>
            <th>插入位置</th>
            <th>操作</th>
        </tr>
    </thead>
</table>

@section Scripts {
   
    <script src="~/js/fillinblank.js"></script> <!-- 引入分離的 JS 檔案 -->
}
