/* 基本的 HTML O定，用於_保W?在不同b置上的基本@示效果 */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* 按o、表慰丶在@得焦cr的?影邮剑增??X反? */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* body 底部空g留白O定，避免热荼坏撞Ш/工具谡 */
body {
    margin-bottom: 60px;
}

/* 表格?式O?，_保表格在小屏O渖弦材M向L语@示 */
.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}

/* 表格基本O定，_保表格?度m容器?度 */
.table {
    width: 100%;
    min-width: 1000px;
}

/* Flexbox O定，用於O?等高的列（column） */
.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

    .row.equal-height > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

@media (min-width: 768px) {
    .editor-section,
    .form-section {
        flex: 1;
    }
}

/* 文本??器^域的邮皆O?，_保??器能虺浞掷用可用空g */
.editor-section {
    display: flex;
    flex-direction: column;
}

.editor-section textarea {
        flex: 1;
        min-height: 300px;
    }

/* D片A[^域的邮剑用於@示?卷中包含的各ND片 */
#survey-preview,
#question-preview,
#option-preview,
#survey-image-preview,
#question-image-preview-*, /* ?μ囟?}的D片A[^域 */
#option-image-preview-*-* /* ?μ囟ㄟx?的D片A[^域 */ {
    display: flex;
    flex-wrap: wrap;
}

    #survey-preview img,
    #question-preview img,
    #option-preview img,
    #survey-image-preview img,
    #question-image-preview-* img,
    #option-image-preview-*-* img {
        margin: 5px;
        max-width: 150px; /* 控制D片的最大?度，避免D片^大 */
    }

/* 填空?入框的邮皆O定，用於?卷中B添加的填空?入框 */
.fill-in-blank-input {
    width: 150px;
    margin: 0 5px; /* {整填空?入框的外?距，以m布局 */
}

/* 表位U邮剑用於填空位置的精_控制 */
.form-range {
    margin-top: 5px;
}
@media print {
    .no-print {
        display: none !important;
    }
    .break {
        break-after: page;
    }
    body {
        font-size: 12px; /* Yp俱砰r砰jp */
        line-height: 1.4; /* 秸俱娑ZTOi弄┦ */
    }
    h1 {
        font-size: 20px; /* 夹Dr砰Yp */
        font-weight: bold;
    }
    h2 {
        font-size: 20px; /* 夹Dr砰Yp */
    }
    h3 {
        font-size: 14px; /* 夹Dr砰Yp */
        font-weight: bold;
        padding-top:10px
    }
    h4 {
        font-size: 14px; /* 夹Dr砰Yp */
    }
    h5 {
        font-size: 14px; /* 夹Dr砰Yp */
    }
    h6 {
        font-size: 14px; /* 夹Dr砰Yp */
    }
    p, span, td, th {
        font-size: 10px; /* ずeゅrYp */
        font-weight: normal;
    }
    div {
        /*font-size: 100px;*/
        /*font-weight: bold;*/

    }
    label,
    .fakeLabels
    {
        font-size: 12px;
        font-weight: normal;
        color: black;
    }
    #printContentArea {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .checkbox-div {
        /*background-color : aqua;*/
        font-size: 10px;
        text-align: right;
    }
    
}
footer {
    z-index: 0;
}